*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #8cc461;
}

header{
    width: 100vw;
    height: 33vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerbox{
    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 13px;
    height: 80%;
    width: 60%;
    display: flex;
    justify-content: space-between;
    padding: 1%;
}

.logo{
    height: 100%;
    width: 25%;
    font-family: "Roboto";
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.5rem;
    letter-spacing: 0.1em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}
.scoreboard{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 40%;
}

.scores{
    background-color: rgba(255, 255, 255, 1);
    width: 45%;
    height: 100%;
    border-radius: 13px;
    text-align: center;
    padding-top: 1.5%;
}

.identifier{
    color: rgba(101, 101, 101, 1);
    font-family: "Roboto";
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5rem;
    letter-spacing: 0.1em;
}

.count{
    font-family: "Roboto";
    font-size: 4rem;
    font-weight: 700;
    line-height: 4.5rem;
    text-align: center;
}
#default{
    height: 65vh;
    width: 95vw;
    margin: auto;
    position: relative;
}
#gamearea{
    height: 100%;
    width: 40%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 8vh;
    grid-column-gap: 1vw;
    position: relative;
}

.game {
    width: 10vw; 
    height: 10vw; 
    border-radius: 50%;
    box-shadow: 3px 0px 21px 1px rgba(0, 0, 0, 0.2) inset;
    background: rgba(255, 255, 255, 1);
    z-index: 2;
    animation: button 1.5s ease 0s infinite normal none;
    margin: 5%;
}

@keyframes button {
    0% {
      transform: scale(1);
    }
  
    50% {
      transform: scale(1.1);
    }
  
    100% {
      transform: scale(1);
    }
  }
  

#rock {
    border: 2vw solid rgba(0, 116, 182, 1);
    grid-area: 1/1/2/2;
    margin-right: 10px;
}

#paper {
    border: 2vw solid rgba(255, 169, 67, 1);
    grid-area: 2/2/3/3;
}

#scissor {
    border: 2vw solid rgba(189, 0, 255, 1);
    grid-area: 1/3/2/3;
}


.line {
    width: 20vw;
    height: 0px;
    border: 8px solid rgba(0, 0, 0, 0.64);
    background: rgba(0, 0, 0, 0.64);
    position: absolute;
    z-index: 1;
}

.l1 {
    top: 18%;
    left: 25%;
    transform: rotate(0deg);
}

.l2 {
    top: 50%;
    left: 7%;
    transform: rotate(50deg);
}

.l3 {
    top: 55%;
    left: 35%;
    transform: rotate(125deg);
}

#rules{
    position: absolute;
    width: 10vw;
    height: 8vh;
    bottom: 1vh;
    right: 1vw;
    background-color: rgba(217, 217, 217, 0);
    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 13px;
    color: rgba(255, 255, 255, 1);
    font-family: "Roboto";
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2rem;
    letter-spacing: 0.1em;
    text-align: center;
}

#rulebox{
    display: none;
    background: rgba(0, 68, 41, 1);
    border: 7px solid rgba(255, 255, 255, 1);
    border-radius: 13px;
    position: absolute;
    bottom: 10vh;
    right: 1.3vw;
    width: 21vw;
    height: 53vh;
    font-family: "Roboto";
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1rem;
    text-align: left;
    padding: 1% 1.2% 0 2%;
    color: rgba(255, 255, 255, 1);
}

h2{
    font-family: "Roboto";
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.5rem;
    text-align: left;   
    text-align: center;
    margin-bottom: 5%;
}

#close{
    display: none;
    position: absolute;
    bottom: 59vh;
    right: 0.5vw;
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    background: rgba(255, 0, 0, 1);
    border: 5px solid rgba(255, 255, 255, 1);
    justify-content: center;
    align-items: center;
    font-family: "Dangrek";
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.5rem;
    text-align: left;
}
ul{
    list-style: square;
}
ul li{
    margin-bottom: 5%;
}
li::marker{
    color: rgba(255, 214, 0, 1);
}
button{
    cursor: pointer;
}


